#header {
    background: $primary-color;
    .container {
        min-width: 100%;
        min-height: 70px;
        .navbar {
            min-height: 70px;
        }
        .navbar-toggler {
            background-color: $white;
        }
        .nav-link {
            color: $secondary-color;
            font-size: 14px;
            //text-transform: uppercase;
            &:hover {
                color: $white;
            }
        }
        .username {
            font-weight: bold;
            color: $white;
            text-transform: uppercase;
        }
    }
}
