.modal-dialog {
    max-width: 500px;
    overflow-y: initial !important;
    border-radius: 5px;
}

.modal-content {
    overflow-y: auto;
    .form-dialog {
        max-width: 460px;
        margin: 10px auto;
        font-size: 14px !important;
    }    
    .form-group {
        .form-control {
            font-size: 14px !important;
        }
        .field_icon{
            float: right;
            margin-top: -25px;
            margin-right: 5px;
            position: relative;
            z-index: 2;
        }
    }     
    .btn {
        font-size: 14px !important;
    }    
}

.modal-title {
    color: $color-text-title;
    font-weight: bold;
}

.line-horizontal {
    margin-bottom: 10px;
    border: 1px solid $primary-color;
}