/*
#login { width: 100%; }

#login .container { max-width: 500px; height: 320px; }

#login .container .login-img { display: block; margin: 20px auto; }

#login .container .form-group label { font-weight: 500; }

#login .container .form-group input { font-size: 14px; }

#login .container .form-group .field_icon { float: right; margin-top: -25px; margin-right: 5px; position: relative; z-index: 2; }

#login .container .login-a { text-decoration: none; text-align: center; color: #555; cursor: pointer; }

#login .container .login-a:hover { text-decoration: none; color: #9E1D21; font-weight: bold; }
*/