// USUARIO - TEM QUE MEXER
#login {
    width: 100%;
    .container {
        max-width: 500px;
        height: 320px;
        .login-img {
            display: block;
            margin: 20px auto;
        }
        .form-group {
            label {
                font-weight: 500;
            }
            input {
                font-size: 14px;
            } 
            .field_icon{
                float: right;
                margin-top: -25px;
                margin-right: 5px;
                position: relative;
                z-index: 2;
            }     
        }
        .login-a {
            text-decoration: none;
            text-align: center;
            color: $color-text-standard;
            cursor: pointer;
            &:hover {
                text-decoration: none;
                color: $primary-color;
                font-weight: bold;
            }
        }
    } 
}
