// COLORS
$primary-color: #9E1D21;
$secondary-color: #F8F8F8;
$white: #fff;
$color-text-standard: #555;
$color-text-title: #333;
// TYPOGRAPH
$font-family-primary: 'Open Sans', sans-serif;

//ESTILOS GERAIS  
body {
    font-family: $font-family-primary;
}

a {
    text-decoration: none;
}

.list-group-item {
    padding: 0.35rem 1rem !important;
    font-size: 14px;
    &:first-child {
        border-top: 0px !important;
    }
}

h1 {
    font-size: 20px !important;
    color: $color-text-title !important;
}

h2, .h2 {
    font-size: 18px !important;
}

h3, .h3 {
    font-size: 16px !important;
}

form {
    span {
        color: $primary-color;
        font-weight: bold;
    }
}

label, 
p {
    color: $color-text-title;
    font-size: 14px;
}

.text-4{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
}

span.text-5{
    display: block;
    font-size: 12px;
}

.table {
    font-size: 14px;
}

.form-control {
    font-size: 14px !important;
}

// LOGIN
#login {
    width: 100%;
    .container {
        max-width: 500px;
        height: 320px;
        .login-img {
            display: block;
            margin: 20px auto;
        }
        label {
            font-weight: 500;
        }
        input {
            font-size: 14px; 
        }
        .login-a {
            text-decoration: none;
            text-align: center;
            color: $color-text-standard;
            cursor: pointer;
            &:hover {
                text-decoration: none;
                color: $primary-color;
                font-weight: bold;
            }
        }
    }
}

// HEADER
#header {
    background: $primary-color;
    .container {
        min-width: 100%;
        min-height: 70px;
        .navbar {
            min-height: 70px;
        }
        .navbar-toggler {
            background-color: $white;
        }
        .nav-link {
            color: $secondary-color;
            font-size: 14px;
            text-transform: uppercase;
            &:hover {
                color: $white;
                font-weight: bold;
            }
        }
        .username {
            font-weight: bold;
            color: $white;
            text-transform: uppercase;
        }
    }
}

.botao {
    width: 100%;
    font-size: 1em;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    transition: all 0.5s;
    &:hover {
        background: $primary-color;
        color: $white;    
    }
}
  
// MODAL
.modal-dialog {
    max-width: 500px;
    overflow-y: initial !important;
    border-radius: 5px;
}

.modal-content {
    overflow-y: auto;
    .form-dialog {
        max-width: 460px;
        margin: 10px auto;
        font-size: 14px !important;
    }    
    .form-control {
        font-size: 14px !important;
    }
    .btn-primary {
        color: #313131 !important;
        background: $white !important;
        font-size: 14px !important;
        border: 1px solid $primary-color !important;
        &:hover {
            color: $white !important;
            background-color: $primary-color !important;
            font-weight: bold;    
        }
    }    
}

.modal-title {
    color: $primary-color;
    font-weight: bold;
}

.line-horizontal {
    margin-bottom: 10px;
    border: 1px solid $primary-color;
}

.radio-course {
    label {
        display: block;
    }
}

// MOSTRUÃRIO
#body-container {
    background-color: $secondary-color;
}
  
#container-main {
    margin: 40px auto 20px auto;
    .container .content {
        max-width: 900px;
        margin: 0 auto;
        background-color: $white;
    }
}

.top-bar {
    width: 100%;
    height: 70px;
    h1 {
        display: inline-block;
        margin: 13px 20px;
        padding: 10px 0px;
    }
    img {
        width: 30px;
        margin-bottom: 5px;
        margin-left: -10px;
    }
}
      
.aux-bar {
    width: 100%;
    height: 55px;
    background-color: $primary-color;
    h2 {
        line-height: 55px;
        color: $white;
        margin-left: 20px;
        display: inline;
        }
    a {
        color: $white;
        font-size: 14px;
        text-transform: lowercase;
        text-decoration: none;
        &:hover {
            color: $white;
        }
    }
    .search-contact {
        margin: 13px;
        border-radius: 3px;
        float: right;
        input[type=search] {
            height: 29px;
            width: 200px;
            padding: 5px;
        }
    }
}

#content-table {
    width: 100%;
    font-size: 14px;
    color: $color-text-title;
    th {
        padding: 10px 20px;
        border-bottom: 1px solid #eee;
        color: $color-text-title;
    }
    td {
        padding: 5px 20px;
        border-bottom: 1px solid #eee;
        color: $color-text-standard;        
        img {
            padding: 0px 5px;
            margin-left: 10px;
        }
        &:nth-child(2) {
            text-transform: lowercase;;
          }        
    }
    a {
        text-decoration: none;
        color: $color-text-standard;
        &:hover {
            font-weight: 500;
        }
    }


    .dropdown-menu.show {
        font-size: 14px;
        width: 100px;
    }
    .dropdown-item {
        cursor: pointer;
        &:hover {
            background: $primary-color;
            color: $white;
        }
    }
}

.pagination {
    margin: 0px 10px 10px 10px;
    >li>a, >li>span {
        border-radius: 50% !important;
        margin: 0 5px;
    }      
}

.content-details {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

.top-bar-block {
    height: 70px;
    background-color: $white;
    margin-bottom: 20px;
    h1 {
        display: inline-block;
        margin: 13px 20px;
        padding: 10px 0px;
    }
    img {
        width: 30px;
        margin-bottom: 5px;
        margin-left: -10px;
    }
}

.show-details-block {
    background-color: $white;
    margin-bottom: 15px;
    h2 {
        color: $primary-color;
        line-height: 25px;
        margin: 0px 20px;
        padding: 10px 0px;
    }
}

// CONTACT INFO
.contact-info {
    margin: 0 auto;
    .form-row {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }    
}

// FOOTER
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #111;
    color: $white;
    padding: 20px 0;
    .copyright {
        font-size: 0.875em;
        color: $white;
        line-height: 10px;
        text-align: center;
    }    
}

// ERROR 404
#error-404 {
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
    .error-code {
        bottom: 60%;
        color: $primary-color;
        font-size: 96px;
        line-height: 100px;
        font-weight: bold;
    }
    .error-desc {
        font-size: 1em;
        padding: 20px 0;
        color: $color-text-standard;
    }
    .btn-error {
        margin-top: 20px;
    }
}

//SWAL
.swal-text {
    font-size: 14px !important;
    color: $color-text-standard;
}
.swal-button {
    color: $color-text-title;
    background: $white;
    font-size: 14px !important;
    border: 1px solid $primary-color !important;
}

.swal-button:hover {
    color: $white;
    background-color: $primary-color !important;
    font-weight: bold;
}
