// COLORS
$primary-color: #9E1D21;
$secondary-color: #F8F8F8;
$white: #fff;
$color-text-standard: #555;
$color-text-title: #333;
// TYPOGRAPH
$font-family-primary: 'Open Sans', sans-serif;

//ESTILOS GERAIS  
body {
    font-family: $font-family-primary;
}

.list-group-item {
    padding: 0.35rem 1rem !important;
    font-size: 14px;
    &:first-child {
        border-top: 0px !important;
    }
    a {
        &:nth-child(1) {
            text-decoration: none;
            color: $color-text-standard;
            &:hover {
                text-decoration: none;
                font-weight: 500;
            }    
        }
    }
}

//HEADINGS
h1 {
    font-size: 20px !important;
    color: $color-text-title !important;
}
h2, .h2 {
    font-size: 18px !important;
}
h3, .h3 {
    font-size: 16px !important;
}

form {
    .form-control {
        font-size: 14px !important;
    }    
    span {
        font-weight: bold;
    }
}

label, 
p {
    color: $color-text-title;
    font-size: 14px;
}

.text-4{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
}

span.text-5{
    display: block;
    font-size: 12px;
}

.table {
    font-size: 14px;
}

.botao {
    width: 100%;
    font-size: 1em;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    transition: all 0.5s;
    &:hover {
        color: $primary-color;
        background: #fffafa;
    }
}
  
.radio-course {
    label {
        display: block;
    }
}

// MOSTRUÃRIO
#body-container {
    background-color: $secondary-color;
}
  
#container-main {
    margin: 40px auto 20px auto;
    .container .content {
        max-width: 900px;
        margin: 0 auto;
        background-color: $white;
    }
}

.top-bar {
    width: 100%;
    height: 70px;
    h1 {
        display: inline-block;
        margin: 13px 20px;
        padding: 10px 0px;
    }
    img {
        width: 30px;
        margin-bottom: 5px;
        margin-left: -10px;
    }
}
      
.aux-bar {
    width: 100%;
    height: 55px;
    background-color: $primary-color;
    h2 {
        line-height: 55px;
        color: $white;
        margin-left: 20px;
        display: inline;
        }
    a {
        color: $white;
        font-size: 14px;
        text-transform: lowercase;
        text-decoration: none;
        &:hover {
            color: $white;
        }
    }
    .search-contact {
        margin: 13px;
        border-radius: 3px;
        float: right;
        input[type=search] {
            height: 29px;
            width: 200px;
            padding: 5px;
        }
    }
}

#content-table {
    width: 100%;
    font-size: 14px;
    color: $color-text-title;
    th {
        padding: 10px 20px;
        border-bottom: 1px solid #eee;
        color: $color-text-title;
    }
    td {
        padding: 5px 20px;
        border-bottom: 1px solid #eee;
        color: $color-text-standard;        
        img {
            padding: 0px 5px;
            margin-left: 10px;
        }
    }
    a {
        text-decoration: none;
        color: $color-text-standard;
        &:hover {
            font-weight: 500;
        }
    }

    .dropdown-menu.show {
        font-size: 14px;
        width: 100px;
    }
    .dropdown-item {
        cursor: pointer;
    }
}

.pagination {
    margin: 0px 10px 10px 10px;
    >li>a, >li>span {
        border-radius: 50% !important;
        margin: 0 5px;
    }      
}

.content-details {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

.top-bar-block {
    height: 70px;
    background-color: $white;
    margin-bottom: 20px;
    h1 {
        display: inline-block;
        margin: 13px 20px;
        padding: 10px 0px;
    }
    img {
        width: 30px;
        margin-bottom: 5px;
        margin-left: -10px;
    }
    .export-file {
        float: right;
        padding: 5px;
        margin: 20px 20px 0 0;
        .dropdown-item {
            color: #16181b;
            text-decoration: none;
            &:hover {
                background-color: #f8f9fa;
            } 
        }
    }
}

.show-details-block {
    background-color: $white;
    margin-bottom: 15px;
    h2 {
        color: $primary-color;
        line-height: 25px;
        margin: 0px 20px;
        padding: 10px 0px;
    }
    #contact-info {
        margin: 10px auto;
        > .form-row {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}

//SWAL
.swal-text {
    font-size: 14px !important;
    color: $color-text-standard;
}
.swal-button {
    color: $color-text-title;
    background: $white;
    font-size: 14px !important;
    border: 1px solid $primary-color !important;
}

.swal-button:hover {
    color: $white;
    background-color: $primary-color !important;
    font-weight: bold;
}
