@import url("https://fonts.googleapis.com/css?family=Nunito");
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.list-group-item {
  border: 0px !important;
  padding: 0.35rem 1rem !important;
  font-size: 14px;
}

h1 {
  font-size: 20px !important;
}

h2, .h2 {
  font-size: 18px !important;
}

.h3 {
  font-size: 16px !important;
}

.text-4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

.table {
  font-size: 14px;
  margin: 10px !important;
  color: #181818;
}

.form-control {
  font-size: 14px !important;
}

.header {
  background: #9E1D21;
  width: 100%;
}

.navbar-toggler {
  background-color: #fff !important;
}

.nav-link {
  color: #eee !important;
}

.nav-link:hover {
  color: #fff !important;
  font-weight: bold;
}

.username {
  font-weight: bold;
  color: #fff !important;
  text-transform: uppercase;
}

#login {
  width: 100%;
  min-height: calc(100vh - 90px);
}

#login .container {
  max-width: 500px;
  height: 320px;
}

#login .container .login-img {
  display: block;
  margin: 20px auto;
}

#login .container label {
  font-size: 14px;
  font-weight: 500;
}

#login .container input {
  font-size: 14px;
}

#login .container .login-a {
  text-decoration: none;
  text-align: center;
  color: #313131;
  cursor: pointer;
}

#login .container .login-a:hover {
  text-decoration: none;
  color: #9E1D21;
  font-weight: bold;
}

.botao {
  width: 100%;
  font-size: 1em;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  transition: all 0.5s;
}

.botao:hover {
  background: #9E1D21;
  color: #fff;
}

.modal-dialog {
  max-width: 500px;
  overflow-y: initial !important;
  border-radius: 5px;
}

.modal-content {
  overflow-y: auto;
}

.modal-content .form-dialog {
  max-width: 480px;
  margin: 10px auto;
  font-size: 14px !important;
}

.modal-content .form-control {
  font-size: 14px !important;
}

.modal-content .btn-primary {
  color: #313131 !important;
  background: #fff !important;
  font-size: 14px !important;
  border: 1px solid #9E1D21 !important;
}

.modal-content .btn-primary:hover {
  color: #fff !important;
  background-color: #9E1D21 !important;
  font-weight: bold;
}

.modal-title {
  font-size: 17px;
  color: #9E1D21;
  font-weight: bold;
}

.line-horizontal {
  margin-bottom: 10px;
  border: 1px solid #9E1D21;
}

.body-container {
  background-color: #ebebeb !important;
  min-height: 100%;
}

.container-main {
  width: 100%;
  margin-top: 40px;
  min-height: calc(100vh - 70px);
}

.content {
  width: 900px;
  margin: 0 auto 40px auto;
  background-color: #fff;
}

.top-bar {
  width: 100%;
  height: 75px;
  line-height: 70px;
}

.top-bar h1 {
  display: inline-block;
  color: #797979;
  line-height: 27px;
  margin: 14px 20px;
  padding: 10px 0px;
}

.top-bar img {
  width: 30px;
  margin-bottom: 5px;
  margin-left: -10px;
}

.aux-bar {
  width: 100%;
  height: 55px;
  background-color: #9E1D21;
}

.aux-bar h2 {
  line-height: 57px;
  color: #fff;
  margin-left: 20px;
  display: inline;
  padding: 19px 0px;
}

.aux-bar a {
  color: #fff;
  font-size: 14px;
  text-transform: lowercase;
  text-decoration: none;
}

.aux-bar a:hover {
  color: #fff;
}

.search-contact {
  margin: 13px;
  border-radius: 3px;
  float: right;
}

.search-contact input[type=search] {
  height: 29px;
  width: 200px;
  padding: 5px;
}

.table-content {
  width: 100%;
  font-size: 14px;
}

.table-content th, .table-content td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: #181818;
}

.table-content a {
  text-decoration: none;
  color: #888;
}

.table-content td img {
  padding: 0px 5px;
  margin-left: 10px;
}

.dropdown-menu.show {
  font-size: 14px;
  width: 100px;
}

.dropdown-item:hover {
  background: #9E1D21 !important;
  color: #fff !important;
}

.radio-course label {
  display: block;
}

.content-details {
  max-width: 900px;
  margin: 0 auto;
}

.content-details .top-bar {
  height: 75px;
  background-color: #fff;
  margin-bottom: 20px;
}

.content-details .top-bar h1 {
  display: inline-block;
  color: #797979;
  line-height: 27px;
  margin: 14px 20px;
  padding: 10px 0px;
}

.content-details .top-bar img {
  width: 30px;
  margin-bottom: 5px;
  margin-left: -10px;
}

.content-details .title-category {
  background-color: #fff;
  margin-bottom: 20px;
}

.content-details .title-category h2 {
  color: #9E1D21;
  line-height: 25px;
  margin: 10px 20px;
  padding: 10px 0px;
}

.contact-info .form-row {
  margin: 10px 20px !important;
}

.contact-info .form-row .form-control {
  font-size: 14px !important;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: #111;
  color: #fff;
  padding: 20px 0;
}

.copyright {
  font-size: 0.875em;
  color: #fff;
  line-height: 10px;
  text-align: center;
}
