@import url("https://fonts.googleapis.com/css?family=Nunito");
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header {
  background: #9E1D21;
  width: 100%;
}

.navbar-toggler {
  background-color: #fff !important;
}

.nav-link {
  color: #eee !important;
}

.nav-link:hover {
  color: #fff !important;
  font-weight: bold;
}

.username {
  font-weight: bold;
  color: #fff !important;
  text-transform: uppercase;
}

.login-img {
  display: block;
  margin: 20px auto;
}

.login-a {
  text-decoration: none;
  text-align: center;
  color: #313131;
  cursor: pointer;
}

.login-a:hover {
  text-decoration: none;
  color: #9E1D21;
  font-weight: bold;
}

.botao {
  width: 100%;
  font-size: 1em;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  transition: all 0.5s;
}

.botao:hover {
  background: #9E1D21;
  color: #fff;
}

.modal-dialog {
  max-width: 500px;
  overflow-y: initial !important;
  border-radius: 5px;
}

.modal-content {
  overflow-y: auto;
}

.modal-title {
  font-size: 17px;
  color: #9E1D21;
  font-weight: bold;
}

.form-dialog {
  max-width: 480px;
  margin: 10px auto;
  font-size: 14px !important;
}

.form-control {
  font-size: 14px !important;
}

.h6 {
  font-size: 14px !important;
  font-weight: bold;
}

.line-horizontal {
  margin-bottom: 10px;
  border: 1px solid #9E1D21;
}

.btn-primary {
  color: #313131 !important;
  background: #fff !important;
  font-size: 14px !important;
  border: 1px solid #9E1D21 !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #9E1D21 !important;
  font-weight: bold;
}

.body-container {
  background-color: #ebebeb !important;
}

.container-main {
  width: 100%;
  margin-top: 40px;
}

.container-main::after, .container-main .container-main::before {
  content: '';
  display: table;
  clear: both;
}

.content {
  width: 900px;
  margin: 0 auto 40px auto;
  background-color: #fff;
}

.top-bar {
  width: 100%;
  height: 75px;
  line-height: 70px;
}

.top-bar h1 {
  display: inline-block;
  color: #797979;
  font-size: 20px;
  line-height: 27px;
  margin: 14px 20px;
  padding: 10px 0px;
}

.top-bar img {
  width: 30px;
  margin-bottom: 5px;
  margin-left: -10px;
}

.aux-bar {
  width: 100%;
  height: 55px;
  background-color: #9E1D21;
}

.aux-bar h2 {
  font-size: 17px;
  line-height: 57px;
  color: #fff;
  margin-left: 20px;
  display: inline;
  padding: 19px 0px;
}

.aux-bar a {
  color: #fff;
  font-size: 14px;
  text-transform: lowercase;
  text-decoration: none;
}

.aux-bar a:hover {
  color: #fff;
}

.search-contact {
  margin: 13px;
  border-radius: 3px;
  float: right;
}

.search-contact input[type=search] {
  height: 29px;
  width: 200px;
  padding: 5px;
}

.table-content {
  width: 100%;
  font-size: 14px;
}

.table-content th, .table-content td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  /* padding-bottom: 12px; */
  /* text-align: left; */
  color: #888;
}

.table-content a {
  text-decoration: none;
  color: #888;
}

.table-content td img {
  padding: 0px 5px;
  margin-left: 10px;
}

.dropdown-menu.show {
  font-size: 14px;
  width: 100px;
}

.dropdown-item:hover {
  background: #9E1D21 !important;
  color: #fff !important;
}

.radio-course label {
  display: block;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #111;
  color: #fff;
  padding: 20px 0;
}

.copyright {
  font-size: 0.875em;
  color: #fff;
  line-height: 10px;
  text-align: center;
}
